
/***********************
MAIN HEADER
************************/

#main-header {
	background-color: lightgrey;
	width: 100%;
	max-width: 100%;
}

.logo {
	margin-right: auto;
	max-height: 100px;
	max-width: 100px;
	padding: 15px 0;
}

#main-header h1 {
	font-size: 2.5em;
}

#main-header h1,
h4 {
	font-family: 'Alegreya', serif;
	text-align: right;
}

/***********************
WORK HEADER
************************/

.work-header {
	font-family: 'Alegreya', serif;
	text-align: center;
	font-weight: bold;
	padding: 20px 10px;
}

/***********************
CAPTION
************************/

.caption {
	color:red;
}

.caption:hover {
	color:blue;
}


/***********************
FOOTER
************************/

#footer {
	font-size: 0.75em;
	clear: both;
	text-align: center;
	padding-top: 50px;
	color: #ccc;
}

.social-icon {
	width: 40px;
	height: 40px;
	margin: 0 5px;
}

















